@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap');
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #E6E6E6;
  }
  *{
    box-sizing: border-box;
    font-family: 'Inter', serif;
  }